/* You can add global styles to this file, and also import other style files */
nav {
  width: 100vw;
  padding: 0.5rem 1rem;
  background-color: #03a9f4;
  color: white;
  font-weight: 700;
  display: flex;
  align-items: center;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
